button {
  background: $white;
  border: none;
  border-radius: 2em;
  color: $red;
  cursor: pointer;
  font-family: $sans-serif;
  font-weight: $bold;
  min-width: 8em;
  padding: 1em 1.2em 1.2em 1.2em;
}